html {
  font-family: sans-serif;
}
.layout {
  display: grid;
  grid-template-columns:
    1fr
    [navbar-start wrapper-start]
    minmax(auto, 200px)
    [navbar-end content-start]
    minmax(auto,600px)
    [wrapper-end content-end]
    1fr;
}

.navbar {
  grid-column: navbar;
}

.titlebar {
  grid-column: wrapper;
}

.footer {
  grid-column: wrapper;
}

.content {
  grid-column: content;
}
